@import "tailwindcss";

@theme {
	--font-poppins: Poppins, sans-serif;

	/* Identity */
	--color-primary: #dc0a2d;

	/* Grayscale */
	--color-dark-gray: #212121;
	--color-medium: #666666;
	--color-light: #e0e0e0;
	--color-background: #efefef;

	/* Box Shadow */
	--shadow-inner-2: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
}
